body {
    font-family: 'comfortaa-regular', sans-serif;
}

.commerce-hub-navbar {
    height: 60px;
    background-color: #071A52;
    opacity: 1.0;
}

.commerce-hub-navbar-text {
    height: 60px;
    font-size: 15px;
    color: #FFFFFF;
    display:flex;
    align-items: center;
    justify-content: center;
}

.commerce-hub-title-box {
    width: 100%;
    height: 342px;
    display:flex;
    align-items: center;
    justify-content: center;
}

.commerce-hub-title {
    font-family: 'comfortaa-bold', sans-serif;
}

@font-face {
    font-family: 'comfortaa-regular';
    src: url('../fonts/comfortaa/Comfortaa-Regular.ttf');
}

@font-face {
    font-family: 'comfortaa-bold';
    src: url('../fonts/comfortaa/Comfortaa-Bold.ttf');
}

@font-face {
    font-family: 'comfortaa-light';
    src: url('../fonts/comfortaa/Comfortaa-Light.ttf');
}